/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;900&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap'); */
  
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

  /* Main */
/* .bgcarousel {
    background-image: linear-gradient(to right, #001A41 , #0C3067);
    border-radius: 0 0 50px 50px;
} */

.headingcarousel {
    color: #001A41;
    font-weight: 700;
    /* font-family: 'Roboto', sans-serif; */
    letter-spacing: 1px;
}

.textContent {
    color: #0C3067;
    font-weight: 200;
    line-height: 1.3em;
    letter-spacing: 1px;
    /* font-family: 'Roboto', sans-serif; */
}

.imgMain {
    border-radius: 50px 0px 50px 0px;
    height: 90%;
    /* background-image: url('../img/petambak.jpg'); */
}
 
 /* Produk */
.headingProduk {
    color: #001A41;
}

/* Artikel */
.containerArtikel {
    /* background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(../img/petambak2.jpg); */
    background-repeat: no-repeat;
    max-width: 100%;
    height: 200px;
    max-height: 200px;
    border-radius: 50px 0px 50px 0px;
    /* background-image: url(../img/garam-1.jpg); */
}

/* .pictArtikel {
    margin-right: 20px; 
    height: 200px;
    width: 400px;
    border-radius: 5px;
    float: left;
} */

/* Footer */
.bgFooter {
    background-image: linear-gradient(to right,  #698cbe , #4E5764);
    border-radius: 10px 10px 0 0 ; 

}

.footerHeading {
    color: #ffff;
    font-size: 10px;
}
